@require "app/styles/charte"

#app
  background-image: url(/images/imageHome.jpg)
  background-size: cover
  background-repeat: no-repeat

#home
  margin: 3em


#intro
  text-align: center

#mainTitle
  text-transform: uppercase
  color: $mainColor
  font-size: 8em
  margin: 1em 1em
  font-weight: bold
  animation-duration: 2s
  animation-delay: 0.5s
  text-shadow: 0 0 30px black


#subtitle
  text-transform: uppercase
  color: $mainColor
  font-size: 3em
  font-weight: bold
  text-shadow: 0 0 20px black

#spitch
  width: 80%
  background-color: $mainColor
  margin: 2.5em auto
  padding: 0.7em
  border-radius: 15px
  box-shadow: 2px 6px 15px
  text-align: justify

#spitch-text



#play-now
  // text-transform: uppercase
  // font-weight: 600
  // margin: 1em
