@require "app/styles/charte"

@font-face
  font-family: "ArmyRangers"
  src: url('/fonts/army_rangers/armyrangers.ttf')

@font-face
  font-family: "ToxTypewriter"
  src: url('/fonts/ToxTypewriter/ToxTypewriter.ttf')


// @font-face {
// 	font-family: "Ma Super Fonte";
// 	font-style: italic;
// 	src: url('MaSuperFonte-Italic.ttf');
// }
// @font-face {
// 	font-family: "Ma Super Fonte";
// 	font-weight: bold;
// 	src: url('MaSuperFonte-Bold.ttf');
// }
