@require "app/styles/charte"

#profile
  background: $mainColor
  box-shadow: 2px 6px 15px
  width: 50%
  margin: 4em auto
  padding: 1em
  min-height: 600px

  h1
    text-align: center

  div
    display: flex
    justify-content: flex-start;
    margin-top: 1em

    h2
      margin-right: 10px
      width: 30%
      text-transform: capitalize

    p
      border-bottom: 1px solid black
      padding-left: 15px;
      width: 70%

    ul
      width: 70%

      li
        border-bottom: 1px solid
        padding: 5px 0 0 15px
.profile
  &-recruit, &-email, &-list-score
    font-family: 'ToxTypewriter'
  &-edit
    border: 1px solid black
    border-radius: 2px
    background: none
    float: right

.displayNone
  display: none !important

.profile-recruit-form input
  font-family: 'ToxTypewriter'
  border: none
  background: none
  float: left
