@require "app/styles/charte"

#game{
  width: 552px;
  display: flex;
  flex-wrap: wrap;
  margin: 6em auto;
}

.tile, #game{
  border: 1px solid black;
}

.tile, .forest, .tree, .unknown, .water, .door{
  width: 50px;
  height: 50px
}

.forest{
  background-color:#28c34f;
}

.tree{
  background-color:#175e29;
}

.unknown{
  background-color: grey;
}

.water{
  background-color:blue;
}
.door{
  background-color:#683437;
}

// a mettre a jour hero doit etre un ID
#hero{
  background-color: yellow;
}

.hero{
  position: relative;
}

  &.right{
  background-color: red;

}
    &.right:after{
      content: "right";
      color: blue;
      margin: auto;
    }

  &.left{
  background-color: orange;
}
    &.left:after{
      content: "left";
      color: green;
      margin: auto;
    }

  &.up{
  background-color: black;
}
    &.up:after{
      content: "up";
      color: white;
      margin: auto;
    }

  &.down{
  background-color: white;
}
    &.down:after{
      content: "down";
      color: black;
      margin: auto;
    }
