#game{
  width: 590px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.tile{
  border: 1px solid black;
}

.forest{
  width: 50px;
  height: 50px;
  background-color:#28c34f;
}

.tree{
  width: 50px;
  height: 50px;
  background-color:#175e29;
}

.unknown{
  width: 50px;
  height: 50px;
  background-color: grey;
}

.water{
  width: 50px;
  height: 50px;
  background-color:blue;
}

// a mettre a jour hero doit etre un ID
#hero{
  width: 30px;
  height: 30px;
  background-color: yellow;
}

.hero{
  position: relative;
  background-color: yellow;
  margin-top: auto;
}
