@require "app/styles/charte"

header
#title-home
  font-family: 'ArmyRangers'
  text-transform: lowercase
  font-size: 3em
  padding: 0.2em 0.8em

.navbar-item
  text-transform: uppercase
  font-weight: bold
